

  .calosc{
   margin:0;
    text-align: center;
 background:#A18C70;
    
  }

  .img {
    border-width:0px;
    display: inline-block;
  }
 
  .nazwa {
    border-width:0px;
    display: inline-block;
  }
  
  a:link{
      color:#000000;
      text-decoration: none;
      background-color: transparent; 
  }
  a:visited {
    color:black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color:black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color:black;
    background-color: transparent;
    text-decoration: none;
  }

  .zawartosc{
    width:60%;
    display: inline-block;

  }

  .email {
    border-width:0px;
    position:absolute;
    left:415px;
    top:400px;
    width:23%;
    height:25px;
  }
  .email_input {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:25px;
    font-family:'Arial Normalny', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
  }
  
  .haslo {
    border-width:0px;
    position:absolute;
    width:23%;
    height:25px;
  }
  .haslo_input {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:25px;
    font-family:'Arial Normalny', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
  }
  
  .googlediv {
    border-width:0px;
    width:140px;
    height:40px;
    background:inherit;
    background-color:rgba(244, 0, 0, 1);
    border-radius:5px;
    font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:18px;
    color:#FFFFFF;
  }
  .googlebtn {
    border-width:0px;
    position:absolute;
    width:140px;
    height:40px;
    font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:18px;
    color:#FFFFFF;
  }
  .google {
    border-width:0px;
    position:absolute;
    left:2px;
    top:9px;
    width:136px;
    text-align: center;
  }
 .fbdiv {
    border-width:0px;
    width:140px;
    height:40px;
    background:inherit;
    background-color:rgba(3, 66, 182, 1);
    border-radius:5px;
    font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:18px;
    color:#FFFFFF;
  }
  .fb {
    border-width:0px;
    position:absolute;
    width:140px;
    height:40px;
    font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:18px;
    color:#FFFFFF;
  }
  .fbtext {
    border-width:0px;
    position:absolute;
    left:2px;
    top:9px;
    width:136px;
    text-align: center;
  }
   
  
  .emailrej {
    border-width:0px;
    position:absolute;
    width:300px;
    height:25px;
  }
  .emailrej_input {
    position:absolute;
    width:300px;
    height:25px;
    font-family:'Arial Normalny', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    color:#000000;
    text-align:left;
  }
  
  .haslorej {
    border-width:0px;
    position:absolute;
    width:300px;
    height:25px;
  }
  .haslorej_input {
    position:absolute;
    width:300px;
    height:25px;
    font-family:'Arial Normalny', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    color:#000000;
    text-align:left;
  }
  

  .imie {
    border-width:0px;
    position:absolute;
    left:250px;
    top:400px;
    width:300px;
    height:25px;
  }
  .imie_input {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    font-family:'Arial Normalny', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
  }

  .nazwisko {
    border-width:0px;
    position:absolute;
    left:600px;
    top:400px;
    width:300px;
    height:25px;
  }
  .nazwisko_input {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    font-family:'Arial Normalny', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
  }

  .poczta {
    border-width:0px;
    position:absolute;
    left:250px;
    top:445px;
    width:300px;
    height:25px;
  }
  .poczta_input {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    font-family:'Arial Normalny', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
  }

  .miasto {
    border-width:0px;
    position:absolute;
    left:600px;
    top:445px;
    width:300px;
    height:25px;
  }
  .miasto_input {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    font-family:'Arial Normalny', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
  }

  
  .ulica {
    border-width:0px;
    position:absolute;
    left:250px;
    top:490px;
    width:300px;
    height:25px;
  }
  .ulica_input {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    font-family:'Arial Normalny', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
  }
  .numer {
    border-width:0px;
    position:absolute;
    left:600px;
    top:490px;
    width:300px;
    height:25px;
  }
  .numer_input {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    font-family:'Arial Normalny', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
  }

  .kraj {
    border-width:0px;
    position:absolute;
    left:250px;
    top:535px;
    width:300px;
    height:25px;
  }
  .kraj_input {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    font-family:'Arial Normalny', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
  }
  .numertel {
    border-width:0px;
    position:absolute;
    left:250px;
    top:580px;
    width:300px;
    height:25px;
  }
  .numertel_input {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    font-family:'Arial Normalny', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
  }

  .adres_email {
    border-width:0px;
    position:absolute;
    left:600px;
    top:580px;
    width:300px;
    height:25px;
  }
  .adres_email_input {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:25px;
    font-family:'Arial Normalny', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
  }

  .button_dane {
    border-width:0px;
    position:absolute;
    left:515px;
    top:700px;
    width:140px;
    height:40px;
    font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:18px;
  }
  .buttondane_text {
    border-width:0px;
    position:absolute;
    left:2px;
    top:9px;
    width:136px;
    word-wrap:break-word;
  }

  .button_zrealizowane {
    border-width:0px;
    position:absolute;
    left:370px;
    top:750px;
    width:440px;
    height:40px;
    font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:18px;
  }
  .buttonzrealizowane_text {
    border-width:0px;
    position:absolute;
    left:2px;
    top:9px;
    width:100%;
    word-wrap:break-word;
  }
 
.stopkas
{
  padding-top: 20px;
  background:#CFBDA5;
}

.naglowek{
  background:#CFBDA5;
}

.logowanie{
  background: #B7A48C;
}

.menu{
  background: #4F3F2B;
}
 